
.rotate-arrow {
    
    margin-left: 0rem;
  }
  .center-div {
    display: flex !important;
    justify-content: center !important;
  }  
@media screen and (max-width: 768px) {
  .center-div {
    display: flex !important;
    justify-content: center !important;
  }
  .center-fare {
    margin-top: 10px;
    display: flex !important;
    justify-content: center !important;
  }
  .rotate-arrow {
    transform: rotate(90deg);
    margin-left: 0px !important;
  }
}
