.sidebar
{
    width: 340px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%; 
        height: auto;
        box-shadow: none; 
    }
}

.header {
  background-color: #0066ff;
  flex-shrink: 0;
  height: 104px;
}

.sidebar p
{
    margin: 0;
}

.sidebar p:hover
{
    color: #0275D8;
    cursor: pointer;
}
