<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    <p>Hello {{ recipient_name }},</p>
    <p>Your previous attempt to book a ticket have resulted in a failure.Sorry for the inconvienence</p>
    <p>Refund process has been initiated and the full amount will be refunded within few days</p>
    <p>Regards,<br>BusBuddy Team</p>
</body>
</html>