<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <p>Dear {{ recipient_name }},</p>
    <p>
      We hope this message finds you well. We regret to inform you that your
      account on Bus Buddy has been suspended due to a violation of our
      community guidelines. Our team has reviewed the reported incident(s) and
      has found that it breaches our terms of service.
    </p>
    <p>
      As the part of the ban all your current active trips will be cancelled and
      full refund would be provided to your customers
    </p>
    <p>Regards,<br />BusBuddy Team</p>
  </body>
</html>
