<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <p>Dear {{ recipient_name }},</p>
    <p>
      We hope this message finds you well. We would like to inform you that your
      cancellation request for booking ID {{booking_id}} with Bus Buddy has been
      successfully processed.
    </p>
    <p>Booking Details:</p>
    <ul>
      <li>Booking ID: {{booking_id}}</li>
      <li>Cancellation Status:<span style="color: green"> Confirmed</span></li>
      <li>Cancellation Date: {{cancellation_date}}</li>
    </ul>
    <p>
      Your cancellation has been processed in accordance with our terms and
      conditions. If you have any further questions or concerns, please do not
      hesitate to contact us.
    </p>
    <p>The refund will be processed from 3 to 5 bussiness days.</p>
    <p>According to our refund policy the amount that will be refunded will be of 50% of the ticket cost<p>
    <p>
      We appreciate your understanding and look forward to serving you in the
      future.
    </p>
    <p>
      Best regards,

      <br />Bus Buddy Team
    </p>
  </body>
</html>
