<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <p>Dear {{ recipient_name }},</p>
    <p>
      We trust this message reaches you in good health. We wish to notify you
      that your cancellation request pertaining to booking ID {{booking_id}}
      with Bus Buddy has been duly processed and completed.
    </p>
    <p>Booking Information:</p>
    <ul>
      <li>Booking ID: {{booking_id}}</li>
      <li>Cancellation Status:<span style="color: green"> Confirmed</span></li>
      <li>Cancellation Date: {{cancellation_date}}</li>
      <li>Refund Status: No Refund</li>
    </ul>
    <p>
      Your cancellation has been handled in compliance with our terms and
      conditions. Should you have any additional questions or concerns, feel
      free to reach out to us without hesitation.
    </p>
    <p>
      We are grateful for your understanding and eagerly anticipate the
      opportunity to assist you in the future.
    </p>
    <p>
      Best regards,

      <br />Bus Buddy Team
    </p>
  </body>
</html>
