<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <p>Dear {{ recipient_name }},</p>
    <p>
      I trust this message finds you in good health. We want to notify you that
      the cancellation request for booking ID {{booking_id}} with Bus Buddy has
      been processed successfully.
    </p>
    <p>Booking Details:</p>
    <ul>
      <li>Booking ID: {{booking_id}}</li>
      <li>Cancellation Status:<span style="color: green"> Confirmed</span></li>
      <li>Cancellation Date: {{cancellation_date}}</li>
      <li>Refund Status: Partial Refund</li>
    </ul>

    <p>
      Your cancellation has been handled in accordance with our terms and
      conditions. If you have any additional questions or concerns, please don't
      hesitate to reach out to us.
    </p>
    <p>The refund will be processed from 3 to 5 bussiness days.</p>
    <p>
      According to our refund policy the amount that will be refunded will be of
      50% of the ticket cost
    </p>
    <p></p>
    <p>
      We appreciate your understanding and look forward to serving you in the
      future.
    </p>
    <p>
      Best regards,

      <br />Bus Buddy Team
    </p>
  </body>
</html>
