<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Verification</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      p {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <p>Dear Esteemed User,</p>

    <p>We trust this message finds you in good health and high spirits.</p>

    <p>Your One-Time Password (OTP) for email verification is:</p>
    <p><strong>{{otp}}</strong></p>

    <p>
      Kindly utilize this OTP to complete the email verification process. We
      appreciate your cooperation and commitment to security measures.
    </p>

    <p>
      Your understanding is invaluable, and we eagerly anticipate the
      opportunity to provide you with exceptional service in the future.
    </p>

    <p>Best regards,</p>
    <p>The Bus Buddy Team</p>
  </body>
</html>
